
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

hr {
    margin: 20px;
}

img {

    width: 10%;
    height: auto;
}

h4{
    margin: 0px 10px;
}

h1 {
    color: rgb(78, 165, 47);
    text-align: center;
    font-family: 'Lobster';
    background-color: rgb(217, 252, 217);
    padding: 10px;
}

h2 {
    
    color: rgb(144, 203, 126);
    font-family: 'Lobster';
    margin: 5px 10px;
}
ul{
    margin: 10px 20px;
}
a{
    margin: 5px 10px;
}

p {
    font-family: 'Lobster Two';
    margin: 10px 20px;
}

li {
    font-family: 'Lobster Two';
}

body {
    background-color: rgb(248, 255, 247);
}

footer {
    color: rgb(22, 2, 2);
    background-color: rgb(220, 241, 222);
    padding: 20px;
    font-size: 30px;
}
@media (min-width: 600px) and (max-width: 1024px){
    h1{
        background-color: rgb(78, 165, 47);
        color: rgb(217, 252, 217);
    }
}
@media (min-width: 1024px){
    h1{
        background-color: rgb(234, 252, 226);
        color: rgb(42, 116, 23);
    }
}