/* Estilos padrão para telas maiores */
body {
    font-size: 16px;
    background-color: rgb(30, 59, 34);
  }
  
  /* Estilos para telas menores que 600px */
  @media (max-width: 600px) {
    body {
      font-size: 14px;
      background-color: rgb(63, 163, 58);
    }
  }
  
  /* Estilos para telas entre 601px e 1024px */
  @media (min-width: 601px) and (max-width: 1024px) {
    body {
      font-size: 15px;
      background-color: rgb(169, 223, 143);
    }
  }
  